.diagram-wrapper {
  position: absolute;
  z-index: 5;
  top: calc(50%);
  left: calc(50%);

  width: 600px;
  height: 300px;
  margin-top: -150px;
  margin-left: -300px;

  background: white;

  .close-button {
    position: absolute;
    z-index: 6;
    top: 30px;
    right: 30px;

    width: 16px;
    height: 16px;
    margin-top: -15px;
    margin-right: -15px;

    background: transparent;
    cursor: pointer;
  }
}
.bg {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  opacity: .5;
  background: black;
}
