.content {
  margin-top: 100px;
  padding-top: 10px;
}

.wrapper {
  min-width: 945px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-header {
  position: fixed;
  z-index: 1000;
  top: 0;

  width: 100%;

  text-align: right;

  background: #5f55b6;
  box-shadow: 0 1px 2px 0 black;
  button {
    padding: 10px;

    cursor: pointer;
    transition: 0.3s all;
    text-transform: uppercase;

    color: white;
    border: none;
    border-radius: 2px;
    outline: none;
    background: green;
    box-shadow: 1px 1px 2px rgba(black, .7);
    text-shadow: 1px 1px 2px rgba(green, .7);

    &:hover {
      box-shadow: none;
    }
  }
}

.main-header-wrapper {
  display: flex;

  height: 100px;
  padding: 0 15px;

  justify-content: flex-end;
  align-items: center;
}

.flex-container {
  display: flex;
  overflow-x: scroll;
  flex-direction: column;

  flex-wrap: nowrap;
  justify-content: center;
}

@import 'listHeader/listHeader';
@import 'user/user';
